<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>

<body class="{{body_class}}">
<div class="gh-viewport">

{{> "nav"}}    

<main class="bg-slate-300">

    <section class="container py-40">
        <h1 class="font-sans font-bold text-8xl text-black max-w-[720px] mb-4">{{statusCode}}</h1>
        <p class="text-xl">{{message}}</p>
        <p class="mt-4 block"><a href="{{@site.url}}">Go to the front page →</a></p>

        {{#if errorDetails}}
        <section class="gh-error-stack">
            <h4>Theme errors:</h4>
            <ul class="gh-error-stack-list">
                {{#foreach errorDetails}}
                <li>
                    <h5 class="gh-error-stack-function">{{{rule}}}</h5>

                    {{#foreach failures}}
                    <span class="gh-error-stack-file"><strong>Ref:</strong> {{ref}}</span><br>
                    <span class="gh-error-stack-file"><strong>Message:</strong> {{message}}</span>
                    {{/foreach}}
                </li>
                {{/foreach}}
            </ul>
        </section>
        {{/if}}
    </section>

</main>

{{> "footer"}}

</div>

<script src="{{asset "built/jquery-3.4.1.min.js"}}"></script>

<script>
$(document).ready(function () {
    // Mobile Menu Trigger
    $('.gh-burger').click(function () {
        $('body').toggleClass('gh-head-open');
    });
});
</script>

{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>