{{!< default}}

{{#page}}
  <article class="{{post_class}}">

    <header
      class="bg-black pt-[150px] bg-cover"
    >
      <div class="container text-white">
        <h1 class="font-serif font-bold text-4xl md:text-8xl text-white max-w-[720px] block pb-6">{{title}}</h1>

        {{#if custom_excerpt}}
          <p class="text-lg md:text-2xl text-white max-w-[960px] font-sans block pb-8">{{custom_excerpt}}</p>
        {{/if}}
      </div>
      {{#if feature_image}}
            <img src="{{feature_image}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" class="w-full md:w-[80%]">
        {{/if}}
    </header>

    <div class="my-10 gh-content gh-canvas">
      {{content}}
    </div>

  </article>
  {{> "home/book-consultation"}}
  <hr class="w-full border-t border-white/10 bg-black" />
{{/page}}