{{!< default}}

<div class="bg-gradient-to-r from-blue-800 to-pink-500 pb-10 pt-[150px] bg-cover" 
    {{#if feature_image}}
        style="background-image: url({{feature_image}});"
    {{/if}}>
    <div class="container text-white">

        {{#tag}}
        <header class="text-start max-w-[720px]">

            <h1 class="font-serif text-5xl md:text-6xl font-bold">{{name}}</h1>

            <p class="text-lg mt-4 max-w-[500px]">
                {{#if description}}
                    {{description}}
                {{else}}
                    A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                {{/if}}
            </p>

        </header>
        {{/tag}}
    </div>
</div>
<div class="container my-5">
    {{#foreach posts}}

        {{> "project-card"}} {{!-- partials/card.hbs --}}

    {{/foreach}}
</div>

{{> "home/community"}}