<section class="py-16 my-10 bg-gray-200">
	<div class="container">
		<h2
			class="flex items-center text-xl mb-3 uppercase relative font-semibold before:content-[' '] before:inline-block before:w-1 before:bg-black before:h-10 before:rotate-12 before:mr-4"
		>
			Insights
		</h2>
		<p class="mb-4 text-lg font-sans text-black/80">
			Design and construction insights
		</p>
		<div class="grid grid-cols-1 md:grid-cols-3 gap-5">
			{{#get "posts" limit="3" filter="featured:true" include="tags"}}
        {{#foreach posts}}
          <div class="rounded-lg bg-black p-4">
            <a href="{{url}}">
              <img
                src="{{img_url  feature_image}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                class="w-full h-[300px] object-cover rounded-lg"
              />
              <span class="block text-base text-white/80 mt-3">
                {{date format="DD MMMM YYYY"}} - {{reading_time}}
              </span>
              <h4 class="text-2xl font-sans font-bold text-white mt-3">
                {{title}}
              </h4>
              <span
                class="block mt-6 underline text-white text-sm font-sans font-medium"
              >
                Read Article
              </span>
            </a>
          </div>
        {{/foreach}}
			{{/get}}
		</div>
		<h3
			class="flex items-center text-xl mb-4 uppercase relative font-semibold text-black/80 mt-8"
		>
			Recent Posts
		</h3>
		<div class="grid grid-cols-1 md:grid-cols-2 gap-5">
			{{#get "posts" limit="6" filter='tag:-project' include="tags"}}
        {{#foreach posts}}

            <div class="grid grid-cols-4 gap-3 w-full">
              <a href="{{url}}" class="col-span-1">
                <img
                  src="{{img_url  feature_image}}"
                  alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                  class="w-full h-[80px] md:h-[100px] mr-2 md:mr-4 object-cover rounded"
                />
              </a>
              <div class="col-span-3">
                
                <span class="block text-sm text-black/80 mb-2">
                  {{date format="DD MMMM YYYY"}} - # {{tags}}
                </span>
                <a href="{{url}}">
                  <h4 class="font-sans font-bold text-base md:text-xl">
                    {{title}}
                  </h4>
                </a>
              </div>
            </div>
        {{/foreach}}
			{{/get}}
		</div>
	</div>
</section>