<section class="my-16 relative">
      <div class="md:absolute left-0 top-[10%] md:h-[80%] w-full z-50 md:bg-blackgradient pointer-events-none">
        <div class="container h-full">
          <div class="relative w-full md:w-[50%] mb-[-100px] md:mb-0 z-[100] bg-black rounded-md sm:rounded-none px-4 py-8 text-white flex flex-col h-full pointer-events-auto">
            <h2 class="flex items-center text-white/80 text-base mb-4 uppercase relative before:content-[' '] before:inline-block before:w-1 before:bg-white/80 before:h-8 before:rotate-12 before:mr-4">
              Videos
            </h2>

            <h3 class="text-3xl font-sans font-medium mt-8 mb-2">
              {sliderItems[currentSlide]?.title}
            </h3>
            <p class="text-lg text-white/80 mb-2 max-w-[450px]">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit netus
              praesent eu orci, volutpat.
            </p>
            <div class="mb-12 md:mb-0">
              <button class="border rounded mt-4 hover:bg-white hover:text-black border-white text-white py-2 px-5 text-base uppercase font-sans flex items-center">
                <span>View Project</span>
                <ArrowRight class="ml-3 h-4 w-auto" />
              </button>
            </div>
            <div class="grow"></div>
            <div class="w-full flex items-center justify-between">
              <button
                class="bg-transparent border-none p-0 hover:text-blue-600"
                id="video-slider-arrow-left"
              >
                {{> "icons/arrow-left" className="text-white h-4" }}
              </button>
              <span class="text-center" id="video-slider-number-el">
              </span>
              <button
                class="bg-transparent border-none p-0 hover:text-blue-600"
                id="video-slider-arrow-right"
              >
                {{> "icons/arrow-right" className="text-white h-4" }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full h-[400px] md:h-[550px] md:w-[60%] md:ml-[40%]">
        <div class="keen-slider h-full w-full" id="videos-slider">
          {{#get "posts" limit="6" filter="tag:hash-video" include="tags"}}
            {{#foreach posts}}
                <div
                  id="videos-slider"
                  class="w-full h-full overflow-hidden relative keen-slider__slide number-slide{{@number}}"
                >
                  <img
                    src="{{img_url  feature_image}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                    class="h-full w-full object-cover"
                  />
                  <div class="absolute w-full h-full top-0 left-0 flex items-center justify-center">
                    <button class="h-28 w-28 rounded-full active:bg-gray-300 hover:ring bg-white flex items-center justify-center cursor-pointer">
                      {{> "icons/play" className="h-16 w-auto"}}
                    </button>
                  </div>
                </div>
              {{/foreach}}
          {{/get}}
        </div>
      </div>
    </section>