<section class="my-16">
  <div class="container">
    <h2
      class="flex items-center text-xl mb-4 uppercase relative font-semibold before:content-[' '] before:inline-block before:w-1 before:bg-black before:h-10 before:rotate-12 before:mr-4"
    >
      Videos
    </h2>
    <p class="text-2xl text-black/80 font-sans mb-8">
      High quality videos of our projects.
    </p>
    <div class="w-full">
      <div class="keen-slider h-[300px] md:h-[450px] w-full mb-4" id="video-slider">
        {{#get "posts" limit="8" filter="tag:hash-video" include="tags"}}
          {{#foreach posts}}
              <div
                class="w-full h-full overflow-hidden rounded-lg relative keen-slider__slide number-slide{{@number}}"
              >
                <img
                  src="{{img_url  feature_image}}"
                  alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                  class="h-full w-full object-cover rounded-lg"
                />
                <div class="absolute w-full h-full top-0 left-0 flex items-center justify-center">
                  <a href="{{url}}">
                    <button class="h-28 w-28 rounded-full active:bg-gray-300 hover:ring bg-white flex items-center justify-center cursor-pointer">
                      {{> "icons/play" className="h-16 w-auto"}}
                    </button>
                  </a>
                </div>
              </div>
            {{/foreach}}
        {{/get}}
      </div>
      <div class="keen-slider h-full w-full" id="video-slider-thumbnails">
        {{#get "posts" limit="8" filter="tag:hash-video" include="tags"}}
          {{#foreach posts}}
              <div
                class="w-full h-[100px] md:h-[120px] cursor-pointer overflow-hidden rounded-lg relative keen-slider__slide number-slide{{@number}}"
              >
                <img
                  src="{{img_url  feature_image}}"
                  alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                  class="h-full w-full object-cover rounded-lg"
                />
                <div class="absolute w-full h-full top-0 left-0 flex items-end p-2 md:p-4 bg-black/30 pointer-events-none">
                  <h3 class="text-white text-sm sm:text-base md:text-lg">{{title}}</h3>
                </div>
              </div>
            {{/foreach}}
        {{/get}}
      </div>
    </div>
  </div>
</section>